# Ignore everything
*
!.gitignore
!*/


# except folders:
!code/

!code/scripts/*
code/data
code/run_temp
code_output
# except files:
!main2.Rnw
!master.bib
!main.org
!main.R
!main2.pdf
!meeting_2017_04_04_elsa.org
!meeting_2017_04_04_elsa_raw.org
!fragments.tex
!test.Rnw
!arxiv.cls